NEXT_PUBLIC_SUPABASE_URL=https://byhnyrhltrqjzqhsajli.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5aG55cmhsdHJxanpxaHNhamxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NDM2MjksImV4cCI6MjA4ODAxOTYyOX0.qex_-KP-vAF6TZ6e92xMuNdqm0SHfkoxGI3DVY5fUyI
NEXT_PUBLIC_API_URL=http://localhost:8080
